@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100&family=Pacifico&family=Quicksand:wght@300&display=swap');

body{
    background-color: rgb(255, 205, 147);
    font-family: 'Pacifico', cursive;
    color: white;
}

h1 {
    color:rgb(255, 60, 0);
    background-color: cornsilk;
}

#show_sketch {
    float:right;
}

canvas {
    border:5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
}

p {
    padding-top: 10px;
    font-size: 25px;
}